.Footer {
  border: transparent;
}

.Header {
  border: transparent;
  background-color: #1d38ed;
  color: white;
}

.Modal {
  margin-top: 100px;
}

.Input {
  border: 1px solid lightgray;
  min-width: 70%;
  margin-left: -3%;
  display: inline;
}

.CopyLink {
  margin-left: 5%;
  height: 200%;
  padding: 1.5% 3% 1.5% 3%;
  display: inline;
  background-color: lightgray;
}
