.Border {
  border: transparent;
}

.Avatar {
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15);
  width: 50px;
  background-color: transparent;
}

.CardHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border: transparent;
}

.Name {
  margin-top: 0px;
  width: 100%;
  overflow-wrap: break-word;
  display: block;
}

.Role {
  color: lightgray
}

.Group {
  width: 100%;
}