.Border {
  border: transparent;
}

.Avatar {
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15);
  width: 50px;
  background-color: transparent;
}

.CardHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border: transparent;
}

.Name {
  margin-top: 0px;
  width: 100%;
  overflow-wrap: break-word;
  display: block;
}

.Role {
  color: lightgray
}

.Group {
  border: 1px solid lightgray;
  max-height: 300px;
  overflow-y: scroll;
  width: 50%;
}

.Group::-webkit-scrollbar {
  width: 8px;
  height: 16px;
}

.Group::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.Group::-webkit-scrollbar-corner {
  background-color: transparent;
}

.Group::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}