.Card {
    text-align: center;
    background-color: #dce5e2;
    width: 50%;
    border: thin solid #d2dad9; /* width, style, color */
    border-radius: 25px; /* rounded borders */
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px; /* space b/t each card */
} 

.CardBody {
    width: 100%;
    padding: 20px 0;
    margin: -30px 0 0 0;
}

.CardImg {
    height: 75%;
    width: 75%;
}

.FriendsBody {
    width: 90%;
    display: flex;
    flex-flow: column;
    overflow: scroll;
    height: 200px;
    overflow-x: hidden;
}

.FriendsBody::-webkit-scrollbar {
    width: 8px;
    height: 16px;
}

.FriendsBody::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.FriendsBody::-webkit-scrollbar-corner {
    background-color: transparent;
}

.FriendsBody::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.FriendsTitle {
    margin: 20px 0 0 0;
    width: 100%;
}

.Profile {
    margin: auto;
    display: flex;
    width: 100%;
    overflow: scroll; /* enable scrolling if too long */
    align-items: center;
    flex-flow: column;
    padding: 20px 0; /* top and bottom, left and right */
}

.Profile::-webkit-scrollbar {
    background-color: transparent;
}

@media (max-width: 375px) {
    .Card {
        width: 75%;
    }
}
 









