.container {
    display: block;
    margin: 0 auto;
    width: 75%;
}

.dateSelect {
    display: block;
    margin: 20px auto 30px;
    text-align: center;
}

.formButton {
    display: block;
    margin: 20px auto;
}