.cancelButton {
    margin-top: -27px;
    float: left;
    width: 15%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    padding: 10px;
}

.deleteField {
    margin-bottom: 32px;
}

.eventDetails {
    display: block;
    overflow-wrap: anywhere;
    max-width: 90%;
}

.FlexPadding {
    color: white;
}

.formButton {
    display: block;
    margin: 20px auto;
}

.Header {
    padding: 10px 15px 0px 15px;
}

.space {
    display: flex;
    align-content: center;
}