@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

  .Authform{
    background: white !important;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 15px;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    place-content : center;


  }
  
 .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .auth-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .custom-control-label {
    font-weight: 400;
  }
  
  .forgot-password,
  .forgot-password a {
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  
  .forgot-password a {
    color: #167bff;
  }


@media (min-width: 600px) {
    .Authform {
        width: 500px;
    }
    
}