@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.Authform{
  background: white !important;
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 15px;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  place-content : center;
}

.custom-control-label {
  font-weight: 400;
}

.Error {
  margin: 10px 0px 10px 0px;
  color: red;
}

.form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.Password {
  text-align: left;
}

.Password ul {
  list-style-position: outside;
  font-weight: normal;
}

@media (min-width: 600px) {
  .Authform {
      width: 500px;
  } 
}