.LandingLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 70%;
}

.landingH2 {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}

.section {
    display: flex;
    padding: 0px 20px 10px;
}
  
.article {
    font-family: 'Montserrat', sans-serif;
    border: transparent;
}

.landingTable, th, td {
    border: 2px solid #939cf1;
    border-collapse: collapse;
    padding: 10px 20px;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 13px;
}

.Images {
    object-fit: contain;
    width: 100%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.Text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 25px;
    background: #dce5e238;
    font-family: 'Montserrat', sans-serif;
}

.TagLine {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.Button {
    background-color: #939cf1;
    color: white;
    padding: 20px;
    margin: 0px auto 50px;
    border: transparent;
    width: 325px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
}