.a {
    text-decoration: none;
}

.article {
    font-family: 'Montserrat', sans-serif;
    border: transparent;
}

.Button {
    background-color: #939cf1;
    color: white;
    padding: 10px;
    margin: 0px auto 50px;
    border: transparent;
    width: 275px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.collapse {
    display: block;
    margin: 0px auto 20px;
    max-width: 675px;
}

.h2 {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    padding: 40px 0px 30px;
}

.Images {
    object-fit: contain;
    width: 100%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.LandingLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 800px;
    padding-top: 10px;
}

.LandingH2 {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}

.section {
    display: flex;
    padding: 0px 20px 10px;
}

.LandingTable, .LandingTH, .LandingTD {
    border: 1px solid #939cf1;
    border-collapse: collapse;
    padding: 4px 4px;
    margin-left: auto; 
    margin-right: auto;
    font-size: 13px;
    text-align: center;
}

.LandingTH {
    border: 1px solid black;
    background-color: #939cf1;
}

.TagLine {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 10px 0px;
}

.Text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 25px;
    background: #dce5e238;
    font-family: 'Montserrat', sans-serif;
}

.SecondLine {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #939cf1;
}