.cancelButton {
    margin-top: -27px;
    float: left;
    width: 15%;
}

.container {
    width: 80%;
	margin: 0 auto;
    max-width: 350px;
}

.friendsList {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-variant: tabular-nums;
    line-height: 1.5715;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    padding: 10px 24px 10px;
    background-color: #1d39ed27;
    border: 1px solid #1D38ED;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
}

.nameContainer {
    height: inherit;
}

.nameDisplay {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    margin: 10px 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    padding: 20px 24px 0;
    background-color: #fff;
    border: 1px solid #DCE5E2;
    border-radius: 20px;
    font-size: 16px;
}

.nameDisplay > div {
    margin-right: 8px;
    color: #0A0A0A;
    font-size: 12px;
    line-height: 1.66667;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.subheader {
    display: block;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #777;
    margin-top: -17px;
    padding: 10px;
}

.subheader h6 {
    padding-top: 5px;
}

.subtitle {
    font-family: 'Karla', sans-serif;
}