.Card {
  width: 100%;
  text-align: center;
}

.CardInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: transparent;
}

.Div {
  width: 90%;
  text-align: center;
}

.EmailMessage {
  color: red;
  font-weight: 500;
  margin-bottom: 5px;
  width: 80vw;
  margin-left: -3vw;
}

.EventTitle {
  width: 70%;
  overflow-wrap: anywhere;
}

.UnverifiedAttendees {
  width: 110%;
  display: flex;
  flex-flow: column;
  overflow: scroll;
  min-height: 10vh;
  max-height: 200px;
  overflow-x: hidden;
  margin-left: -5vw;
}

.UnverifiedAttendees::-webkit-scrollbar {
  width: 8px;
  height: 16px;
}

.UnverifiedAttendees::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.UnverifiedAttendees::-webkit-scrollbar-corner {
  background-color: transparent;
}

.UnverifiedAttendees::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

@media (max-width: 460px) {
  .EventTitle {
    width: 100%;
    overflow-wrap: anywhere;
  }
}