.Button {
    margin: 10px;
    width: 100%;
}

.Card {
    text-align: center;
    background-color: #dce5e2;
    width: 75%;
    border: thin solid #d2dad9; /* width, style, color */
}  

.CardBody {
    width: 100%;
}

.EditSupplies {
    margin: auto;
    display: flex;
    width: 100%;
    overflow: scroll; 
    align-items: center;
    flex-flow: column;
}

.EditSupplies h5 {
    margin: 20px 0 20px 0;
    font-weight: 700;
}

.Form {
    width: 100%;
    text-align: center;
}

.Input {
    margin: 0 10px;
    width: 42%;
    height: 40px;
}

.Submit {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap; /* flex-direction, wrap */
    margin: 10px;
    align-items: baseline;
}

.Supplies {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: column;
    flex-direction: column; 
    margin: 0 0 20px 0;
}


